body{
    background-color: #0f0f0f;
}


.pageheader{
  padding: 25px;
  width: 45%;
  height:45px;
  margin-left: 550px;
  

}


#walletbtn{
background-color: #D98B20;
border: none;
border-radius: 25px;
padding: 10px;
font-size: large;
font-family: Georgia, 'Times New Roman', Times, serif;
cursor: pointer;
transition-duration: 0.4ms;
margin-top: -80px;
float: right;
margin-inline:5px;
}
#walletbtn:hover{
    background-color: #D37E0A;
}

#logo{
    padding: 2px;
    height: 50px;
    width: 6%;
    float: left;
    margin-top: -5px;
    
}
h2{
    letter-spacing: 0.2em;
    color: white;
    font-size: large;
    float: left;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: white;
    font-size: 55px;
    text-align: left;
    margin-left: 22%;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05em;
    color: white;
    
}
p{
    color: white;
    text-align: left;
    margin-left: 22%;
    margin-top: -50px;
    font-size: 17px;
}
#walletimg{
    float: right;
    height: 350px;
    width: 20%;
    border-radius: 15%;
    margin-right: 40%;
    margin-top: -15px;
}

section{
    width: 100%;
}

#joinbtn{

background-color: #D98B20;
border: none;
border-radius: 25px;
padding: 25px;
font-size: large;
font-family: Georgia, 'Times New Roman', Times, serif;
cursor: pointer;
margin-left: 26%;

transition-duration: 0.4ms;
}
#joinbtn:hover{

    background-color: #D37E0A;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
      }
      
      img.avatar {
        width: 35%;
        height: 150px;
        border-radius: 50%;
      }
      
      .container {
        padding: 16px;
        
      }
      
      span.psw {
        float: right;
        padding-top: 16px;
      }
      
      /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 25%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        padding-top: 200px;
        margin-left: 35%;
        
      }
      
      /* Modal Content/Box */
      .modal-content {
        background-color: #58247e;
        margin: 5px auto; /* 15% from the top and centered */
        border: 3px solid white;
        border-radius: 25%;
        width: 80%; /* Could be more or less, depending on screen size */
      }
      
      /* The Close Button (x) */
      .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: red;
        cursor: pointer;
      }
      
      /* Add Zoom Animation */
      .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
      }
      
      @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
      }
        
      @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
      }
      
      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .sumbitbtn {
           width: 100%;
        }
      }

      #seedlabel{
        color: white;
        text-align: center;
        font-style: bold;
        font-size: 23px;
        margin-left: 50px;
        padding: 5px;
      }

      

#sub{
    background-color: #D98B20;
    border: 2px solid #0f0f0f;
    border-radius: 25px;
    padding: 15px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 110px;
    margin-top: -15px;
    width: 50%;
    transition-duration: 0.5s;
    }

    
#sub:hover{
    background-color: #D37A00;
    }


ul {
    list-style-type: none;
    margin-left: 400px;
    margin-top: -10px;
    padding: 10px;
    overflow: hidden;
    background-color: #0f0f0f;
    width: 27%;

}
      
    li {
        float: left;
        
    }
      
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
      }
      
      li a:hover {
        background-color: #D98B20;
      }

    